/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Karla */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
/* Yeseva One */
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$white: #ffffffff;
$black: #000000ff;
$red: #ff0000ff;
$green: #00ff00ff;
$blue: #0000ffff;

$yellow: #ffff00ff;
$pink: #ff00ffff;
$cyan: #00ffffff;

$pinkish: #f28482ff;
$orangePinkish: #ed6a5aff;
$lightYellow: #f6bd60ff;
$lightBlue: #98c1d9ff;
$dazzledBlue: #3d5a80ff;
$darkBlue: #2b2d42ff;

$primaryColor: #2b2d42ff;
$secondaryColor: #3d5a80ff;

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: black;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	outline: 0;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

*::-moz-selection {
	background-color: lightblue;
	color: black;
	outline: 0;
}

*::selection {
	background-color: $lightBlue;
	color: black;
	outline: 0;
}

*:hover,
*:active,
*:focus {
	color: black;
}

ul,
ol,
li {
	list-style-type: none;
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	/* i know this is default value of font-size just for remebering purpose */
	font-size: 16px;
	font-family: "Karla", sans-serif;
}

//
// MAIN APPLICATION CSS PART STARTS HERE...
//

//
// HEADER COMPOENENT..
//
