/* Karla */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* Yeseva One */
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap");
/* Poppins */
// @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Montserrat */
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Open Sans */
// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
/* Roboto */
// @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$almond: #ebdccb;
$platinum: #ebebeb;

$orange: #f87060;
$fieryRose: #f45b69;
$pink: #ff8484;

$chromeYellow: #faa300;

$blue: #097bbf;
$blueMunshell: #4b88a2;

$spaceCadet: #2d3047;
$oxfordBlue: #000022;

$darkBlue: #2b2d42ff;

// $primary: #011627;
$primaryOnHoverBack: #091e2f;
$primaryOnActiveBack: #112635;

// $primary: #097bbf;
// $primaryOnHoverBack: #1183c7;
// $primaryOnActiveBack: #198acf;

$primary: #0f60b6;
$primaryOnHoverBack: #0859ae;
$primaryOnActiveBack: #0051a7;

$darkGrey: #253237;

$verColor: rgb(127, 246, 223);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	list-style-type: none;
	outline: 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

*::selection {
	background-color: $platinum;
	color: black;
}

ul,
ol,
li {
	list-style-type: none;
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	// background-color: #11151c;
	font-size: 16px;
	font-family: "Karla", sans-serif;
}

//
// INPUT ELEMENTS LIKE EDITEXT, BUTTON, TEXTINPUT...
//
.editText {
	display: block;
	border: 2px solid transparent;
	background-color: $platinum;
	font-size: 17px;
	max-width: 85%;
	width: 350px;
	padding: 8px 15px;
	margin: 10px;
	box-shadow: inset 1px 4px 5px rgba(0, 0, 0, 0.1), 0 0 0 transparent;
	border-radius: 3px;
	transition: all 0.8s;

	&:hover,
	&:active,
	&:focus {
		border-bottom: 2px solid $primary;
	}

	// &:first-child {
	// 	margin-top: 25px;
	// }
}

.primaryButton {
	display: block;
	cursor: pointer;
	color: white;
	border-radius: 6px;
	font-size: 16px;
	border: none;
	padding: 11px;
	margin: 20px auto;
	width: 200px;
	max-width: 12%;
	background-color: rgba(28, 68, 185, 1);
	box-shadow: 0 4px 12px 0 rgba(28, 68, 185, 0.6);
	transform: scale(0.99);
	transition: all 0.3s ease;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transform: scale(0.99);
	-moz-transform: scale(0.99);
	-ms-transform: scale(0.99);

	-o-transform: scale(0.99);
	&:hover {
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
	}

	&:active {
		transform: scale(0.99);
		-webkit-transform: scale(0.99);
		-moz-transform: scale(0.99);
		-ms-transform: scale(0.99);
		-o-transform: scale(0.99);
	}
}

.textInput {
	cursor: pointer;
	color: $blue;
	margin-right: 30px;
	padding: 5px;
	font-size: 16px;

	&:hover {
		color: #077aff;
		text-decoration: underline;
	}
}

.loaderWrapper {
	position: fixed;
	top: 0;
	transition: all 2s;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur(35px);
	// pointer-events: none;

	.mainLoaderUp {
		width: 100px;
		height: 100px;
		margin: 100px auto;
		background-color: $primary;

		border-radius: 100%;
		animation: sk-scaleout 1s infinite ease-in-out alternate-reverse;
	}

	.mainLoader {
		position: relative;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: $primary;
		color: $primary;
		animation: dotFlashing 1s infinite linear alternate;
		animation-delay: 0.5s;

		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 0;
			left: -20px;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: $primary;
			color: $primary;
			animation: dotFlashing 1s infinite alternate;
			animation-delay: 0s;
		}
		&::after {
			content: "";
			display: inline-block;
			position: absolute;
			top: 0;
			left: 20px;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: $primary;
			color: $primary;
			animation: dotFlashing 1s infinite alternate;
			animation-delay: 1s;
		}
	}

	p {
		font-size: 20px;
		font-family: "Inter", sans-serif;
		padding: 10px 5px;
		margin: 5px 0px;
		&:after {
			content: " . . .";
			animation: dotsanim 1500ms steps(5, end) infinite;
		}
	}
}

@keyframes dotFlashing {
	0% {
		background-color: $primary;
	}
	50%,
	100% {
		background-color: #ebe6ff;
	}
}

@keyframes dotsanim {
	0%,
	20% {
		color: rgba(0, 0, 0, 0);
		text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	40% {
		color: white;
		text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	60% {
		text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
	}
	80%,
	100% {
		text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
	}
}

@keyframes sk-scaleout {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
	// 75% {
	// 	transform: scale(0.5);
	// }
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

//
// EXTRA TOP POPUP..
//

.MainPopupStart {
	z-index: 1;
	transition: all 3s;
	animation-name: fromtoptopos;
	animation-delay: 3s;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-direction: normal;

	width: 100%;
	height: 50px;
	position: absolute;
	top: -500%;
	left: 0;

	.PopupFlex {
		width: 100%;
		height: 100%;
		color: black;
		display: flex;
		flex-direction: row;
		background-color: $verColor;

		.RightSection,
		.LeftSection {
			background-color: $verColor;
			color: black;
			height: 100%;
		}

		.RightSection {
			flex-grow: 3;
			display: flex;
			flex-direction: column;
			justify-content: center;
			// align-items: center;

			.PopupHeading {
				text-align: center;
			}

			.PopupDetail {
				text-align: center;
			}
		}

		.LeftSection {
			cursor: pointer;
			padding: 0px 5px;
			width: 30px;
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				width: 25px;
				height: 25px;
			}
		}
	}

	&.PopupGone {
		top: 0;
		animation-name: fromtoptoposgone;
		animation-delay: 0s;
		animation-duration: 2s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		animation-direction: normal;
	}
}

@media (max-width: 500px) {
	.MainPopupStart {
		.PopupFlex {
			.RightSection {
				.PopupHeading {
					font-size: 16px;
				}

				.PopupDetail {
					font-size: 13px;
				}
			}
		}
	}
}

@keyframes fromtoptopos {
	0% {
		top: -500%;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes fromtoptoposgone {
	0% {
		top: 0;
	}
	100% {
		top: -200%;
		height: 0;
		// width: 0;
		overflow: hidden;
		display: none;
	}
}

//
// MAIN APP STARTING
//
.MainAppStarting {
	font-size: 16px;
}

//
// FULL HEADER COMPONENT...
//
.HeaderStart {
	background-color: $primary;
	width: 100%;
	height: 60px;

	.MainHeader {
		width: 100%;
		height: 100%;
		background-color: $primary;
		margin: 0 auto;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		position: relative;

		svg {
			cursor: pointer;
			height: 32px;
			width: auto;
			fill: white;
		}

		.HeaderMenuIcon {
			margin-left: 20px;
			width: 32px;
			padding: 6px;
			// display: none;

			&:active ~ .HeaderMenu,
			&:focus ~ .HeaderMenu {
				top: 100px;
			}
		}

		.TBLogo {
			margin-left: 20px;
			height: 32px;
		}

		.HeaderPsuedoElement {
			margin-right: 20px;
			width: 35px;
			padding: 6px;

			// .DefaultNavigation {
			// 	display: flex;

			// 	ul {
			// 		display: flex;

			// 		li {
			// 			padding: 5px 10px;
			// 			margin: auto 5px;
			// 			border-radius: 3px;
			// 			background-color: $darkGrey;

			// 			a {
			// 				color: white;
			// 			}
			// 		}
			// 	}
			// }
		}
	}
}

.HeaderMenu {
	// padding: 10px;
	margin: 0px;
	padding: 0px 20px;
	display: none;
	transition: top 0.5s;
	width: 100%;
	background-color: $primary;

	ul {
		// padding: 5px;

		li {
			padding: 10px 15px;
			width: 100%;
			border-top: 1px solid hsla(0, 0%, 100%, 0.15);
			color: white;
			background-color: $primary;

			a {
				width: 100%;
				font-weight: 500;
				display: block;
				text-align: start;
				color: white;

				&:hover {
					color: #dfdfdf;
				}
			}

			&:last-child {
				padding: 15px;
				cursor: pointer;
				display: flex;
				align-items: center;

				.HeaderSignOutSvg {
					fill: white;
					// margin-right: 10px;
				}

				span {
					padding-left: 10px;
				}
			}

			&:hover {
				background-color: $primaryOnHoverBack;
				color: #efefef;
			}

			&:active {
				background-color: $primaryOnActiveBack;
				color: #cfcfcf;
			}
		}
	}
}

.ShowMenu {
	display: block;
}

@media (max-width: 800px) {
	.HeaderStart {
		height: 45px;

		.MainHeader {
			svg {
				height: 31px;
			}

			.TBLogo {
				height: 28px;
			}
		}
	}
}

// @media (max-width: 1000px) {
// 	.HeaderStart {
// 		.MainHeader {
// 			.HeaderMenuIcon {
// 				display: inline-block;
// 			}
// 		}
// 	}
// }

//
// FULL FOOTER COMPONENT...
//

.FooterStart {
	width: 100%;
	min-height: 150px;
	background-color: $primary;
	color: white;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.MainFooter {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.FooterHeading {
			margin: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			h2 {
				padding: 5px;
			}

			p {
				padding: 5px;
				max-width: 300px;
			}
		}

		.FooterSection {
			margin: 15px;
			padding: 15px;

			h4 {
				padding: 5px;
			}

			ul {
				padding: 5px;

				li {
					padding: 4px 0px;

					a {
						color: white;

						&:hover {
							color: #bfbfbf;
						}
					}
				}
			}
		}
	}

	.FooterContribute {
		display: block;
		width: 60%;

		p {
			padding: 10px 0px 10px 0px;
			transition: all 0.3s;
			// animation-name: bigandsmall;
			// animation-duration: 2s;
			// animation-fill-mode: both;
			// animation-iteration-count: infinite;
			// animation-direction: alternate;
			color: white;
			text-align: center;

			a {
				text-align: center;

				transition: all 0.3s;
				color: inherit;

				&:hover {
					color: #bfbfbf;
				}
			}
		}
	}
}

@media (min-width: 1000px) {
	.FooterStart {
		.FooterContribute {
			p {
				transition: all 0.3s;
				animation-name: bigandsmall;
				animation-duration: 2s;
				animation-fill-mode: both;
				animation-iteration-count: infinite;
				animation-direction: alternate;
			}
		}
	}
}
@keyframes bigandsmall {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.05);
	}
}

@media screen and (max-width: 774px) {
	.FooterStart {
		align-items: flex-start;

		.MainFooter {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			.FooterHeading {
				margin: 5px;
				h2,
				p {
					padding: 3px;
				}
			}

			.FooterSection {
				margin: 8px 5px;
				padding: 5px 0px;

				h4 {
					padding: 5px;
				}

				ul {
					li {
						&:last-child {
							padding-bottom: 2px;
						}
					}
				}
			}
		}

		.FooterContribute {
			width: 100%;
		}
	}
}

//
// ALL MAIN COMPONENTS STARTS..
// AFTER THIS LINE...
//

.MainComponents {
	min-height: 100vh;
	background-color: #f45b69;
	margin: 0 auto;
	padding-bottom: 25px;
}

.AuthStart {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 100vh;
	padding-bottom: 25px;
	background-color: $chromeYellow;
	background: url("../assets/svg/telebyteBackground.svg"),
		linear-gradient(180deg, #20262b, #1c2228, #191f25);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.authTextEnter {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px;
		text-align: center;
		width: 600px;
		height: 200px;
		overflow: hidden;
		background-image: url("../assets/img/background.png"),
			linear-gradient(
				180deg,
				hsla(0, 0%, 100%, 0) 50%,
				rgb(250, 232, 255)
			),
			linear-gradient(360deg, #d5e2ff 32%, #fdfff6);
		background-position: center;
		background-size: cover;
		border: 1px solid rgba(100, 100, 100, 0.2);
		border-radius: 6px;

		.authTextHeading {
			font-size: 22px;
		}

		.authTextDesc {
			width: 74%;
			font-size: 17px;
			padding: 15px;
			margin: 5px;

			span {
				width: 100%;
				font-size: 17px;
			}
		}
	}

	.AuthCard {
		border-radius: 5px;
		width: 450px;
		height: 500px;
		background-color: white;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1),
			0 6px 16px 0 rgba(0, 0, 0, 0.2);

		.AuthToggleSection {
			height: 10%;
			width: 100%;
			display: flex;
			border-bottom: 1px solid #dfdfdf;

			.RegisterBtn,
			.LoginBtn {
				cursor: pointer;
				position: relative;
				font-weight: 400;
				height: 100%;
				background-color: #f0f0ff;

				display: flex;
				justify-content: center;
				align-items: center;
				flex-grow: 1;

				&.authActiveTab {
					font-weight: 700;
					flex-grow: 1.5;
					color: $primary;
					background-color: white;
				}
			}

			.RegisterBtn {
				border-top-left-radius: 5px;

				&.authActiveTab {
					box-shadow: 4px 2px 15px 0 rgba(0, 0, 0, 0.2);
				}
			}

			.LoginBtn {
				border-top-right-radius: 5px;
				&.authActiveTab {
					box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.2);
				}
			}
		}

		.MainAuthSection {
			width: 100%;
			height: 90%;
			border-radius: 0 0 5px 5px;

			.RegisterForm,
			.LoginForm {
				// background-color: cadetblue;
				width: 100%;
				height: 100%;
				border-radius: 0 0 5px 5px;
				display: flex;
				flex-direction: column;
				align-items: center;

				.AuthInput {
					transition: all 0.8s;
					border: 2px solid transparent;
					background-color: $platinum;
					font-size: 17px;
					width: 85%;
					padding: 12px 15px;
					margin: 10px;
					box-shadow: inset 2px 6px 8px rgba(0, 0, 0, 0.1),
						0 0 0 transparent;
					border-radius: 3px;

					&:hover,
					&:active,
					&:focus {
						border-bottom: 2px solid $darkBlue;
					}

					&:first-child {
						margin-top: 25px;
					}
				}

				.SubmitButton {
					cursor: pointer;
					color: white;
					border-radius: 6px;
					font-size: 18px;
					border: none;
					padding: 15px;
					width: 60%;
					margin: 15px 25px;
					background-color: rgba(28, 68, 185, 1);
					box-shadow: 0 4px 12px 0 rgba(28, 68, 185, 0.6);
					transform: scale(0.98);
					transition: all 0.3s ease;

					&:hover {
						transform: scale(1);
					}

					&:active {
						transform: scale(0.98);
					}
				}
			}

			.LoginForm {
				.loginRightSection {
					margin-top: 25px;
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					justify-content: center;

					.forgotPassText {
						cursor: pointer;
						color: $blue;
						margin-right: 30px;
						padding: 5px;

						&:hover {
							text-decoration: underline;
						}
					}

					.SubmitButton {
						cursor: pointer;
						color: white;
						border-radius: 6px;
						font-size: 18px;
						border: none;
						padding: 15px;
						width: 50%;
						margin: 15px 25px;
						background-color: rgba(28, 68, 185, 1);
						box-shadow: 0 4px 12px 0 rgba(28, 68, 185, 0.6);
						transform: scale(0.98);
						transition: all 0.3s ease;
						-webkit-border-radius: 6px;
						-moz-border-radius: 6px;
						-ms-border-radius: 6px;
						-o-border-radius: 6px;
						-webkit-transition: all 0.3s ease;
						-moz-transition: all 0.3s ease;
						-ms-transition: all 0.3s ease;
						-o-transition: all 0.3s ease;
						-webkit-transform: scale(0.98);
						-moz-transform: scale(0.98);
						-ms-transform: scale(0.98);
						-o-transform: scale(0.98);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.AuthStart {
		width: 100%;
		height: 900px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		.authTextEnter {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 10px;
			text-align: center;
			width: 600px;
			height: 200px;
			background-color: $blue;
			border-radius: 6px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			-ms-border-radius: 6px;
			-o-border-radius: 6px;

			.authTextHeading {
				font-size: 22px;
			}

			.authTextDesc {
				width: 70%;
				margin: 5px;
				padding: 15px;
			}
		}
	}
}

@media screen and (max-width: 774px) {
	.AuthStart {
		width: 100%;
		height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		.authTextEnter {
			width: 100%;
			height: 200px;
			padding: 10px;
			margin-bottom: 45px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			background-color: $blue;
			border-radius: 1px;
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			-ms-border-radius: 1px;
			-o-border-radius: 1px;

			.authTextHeading {
				font-size: 22px;
			}

			.authTextDesc {
				width: 70%;
				margin: 5px;
				padding: 15px;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.AuthStart {
		.authTextEnter {
			margin-bottom: 1px;
			// margin-bottom: 5px;
		}

		.AuthCard {
			width: 100%;
			height: 100%;

			.AuthToggleSection {
				height: 8%;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.AuthStart {
		.authTextEnter {
			width: 100%;
			height: 200px;
			padding: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			background-color: $blue;
			border-radius: 1px;
			-webkit-border-radius: 1px;
			-moz-border-radius: 1px;
			-ms-border-radius: 1px;
			-o-border-radius: 1px;

			.authTextHeading {
				font-size: 16px;
			}

			.authTextDesc {
				margin: 5px;
				padding: 15px;
				width: 95%;
				span {
					font-size: 16px;
				}
			}
		}
	}
}

.passwordStrengthMeter {
	padding: 8px;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.passwordStrengthMeterProgress {
		width: 75%;
		height: 8px;
		background-color: #efefef;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		background-size: 35px 20px, 100% 100%, 100% 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;

		.passStrength {
			transition: all 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
			height: 8px;
			border-radius: 3px;
			width: 0%;
			-webkit-transition: all 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
			-moz-transition: all 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
			-ms-transition: all 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
			-o-transition: all 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
		}

		.weakPass {
			background-color: #f25f5c;
			width: 25%;
		}

		.fairPass {
			background-color: #ffe066;
			width: 50%;
		}

		.goodPass {
			background-color: #247ba0;
			width: 75%;
		}

		.strongPass {
			background-color: #70c1b3;
			width: 100%;
		}

		.completePass {
			background-color: #40ff40;
			// width: 100%;
		}
	}

	.passwordStrengthMeterLabel {
		font-size: 14px;
	}
}

//
// MAIN CONTENT STARTS
// FROM HERE
// MAIN CONTENT STARTS
// FROM HERE
//

.MainContentStart {
	min-height: 100vh;
}

.FullProfile {
	animation-name: blurtonormal;
	animation-duration: 1s;
	animation-delay: 0;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	background: url("../assets/svg/telebyteBackground.svg");
	background-size: contain;
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat-y;
	backdrop-filter: blur(2px);
	background-color: $blue;

	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;

	.ProfileCard {
		border: 1px solid #bfbfbf;
		color: white;
		background-color: rgba(255, 255, 255, 0.4);

		margin-top: 25px;
		margin-bottom: 25px;
		padding: 10px;
		width: 60%;
		border-radius: 6px;

		backdrop-filter: blur(35px) grayscale(10%);
		// box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
		// 0px 8px 16px rgba(0, 0, 0, 0.2), 0px 8px 16px 0 rgba(0, 0, 0, 0.2);

		display: flex;
		justify-content: space-between;

		.ProfileCardLeft {
			width: 40%;
			display: flex;
			flex-direction: column;

			.ProfileCardLeftFlex {
				.ProfileImage {
					width: 100%;
					height: 130px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 10px 0px;

					img {
						margin: 5px;
						width: 130px;
						height: 100%;
						border: 1px solid black;
						border-radius: 50%;
					}
				}

				.ProfileFollows {
					margin: 10px 0px;
					width: 100%;
					text-align: center;
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					align-items: center;

					span {
						font-size: 20px;
					}
				}

				h2 {
					margin-left: 10px;
					padding: 5px;
					font-family: "Karla", sans-serif;
					font-size: 24px;
				}

				p {
					margin-left: 10px;
					padding: 2px;
					padding-left: 5px;
					font-size: 17px;
					font-family: "Karla", sans-serif;
				}

				.ProfileCardLeftLocation,
				.ProfileCardLeftStatus {
					margin-left: 10px;
					margin-top: 20px;
					margin-bottom: 15px;
					padding-left: 5px;

					h3 {
						text-transform: uppercase;
						color: inherit;
						font-size: 20px;
					}
				}

				.ProfileSocial {
					width: 100%;
					height: 50px;
					display: flex;
					justify-content: center;
					align-items: center;

					a {
						text-decoration: none;
						color: black;

						svg {
							margin: 5px;
							margin-left: 10px;
							margin-right: 10px;
							width: 30px;
							height: 30px;
							fill: black;

							&.GithubIcon {
								&:hover,
								&:active {
									fill: #6e5494;
								}
							}

							&.LinkedinIcon {
								&:hover,
								&:active {
									fill: #0e76a8;
								}
							}

							&.InstagramIcon {
								&:hover,
								&:active {
									fill: #cd486b;
								}
							}

							&.FacebookIcon {
								&:hover,
								&:active {
									fill: #3b5998;
								}
							}

							&.TwitterIcon {
								&:hover,
								&:active {
									fill: #00acee;
								}
							}
						}
					}
				}
			}
		}

		.ProfileCardRight {
			width: 55%;
			padding: 10px;

			.ProfileCardRightAbout {
				margin-top: 10px;
				margin-bottom: 10px;
				padding: 10px;

				h3 {
					margin: 5px 0px;
					color: inherit;
					font-size: 20px;
					text-transform: uppercase;
				}
			}

			.ProfileCardRightExpertise {
				padding: 10px;
				margin-top: 10px;
				margin-bottom: 10px;

				h3 {
					margin: 5px 0px;
					color: inherit;
					font-size: 20px;
					text-transform: uppercase;
				}

				.ExpertiseContainer {
					display: grid;
					gap: 0.1rem;
					// grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

					.ProfileCardRightExpertiseSpan {
						width: max-content;
						background-color: $primaryOnActiveBack;
						color: white;
						padding: 6px 12px;
						border-radius: 4px;
						text-align: center;
					}
				}
			}

			.ProfileEducationSection {
				margin-top: 10px;
				margin-bottom: 10px;
				padding: 10px;

				h3 {
					text-transform: uppercase;
				}

				.ProfileEducationCard {
					padding: 5px 5px 5px 10px;
					margin: 5px 0px;
					border-radius: 5px;
					box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
						0px 8px 16px rgba(0, 0, 0, 0.2),
						0px 8px 16px 0 rgba(0, 0, 0, 0.2);

					h4 {
						&:nth-child(1) {
							padding: 10px 5px 0px 6px;
						}

						&:nth-child(2) {
							padding: 5px 5px 8px 6px;
						}
					}

					span {
						padding: 5px 0px 10px 6px;
					}
				}
			}
		}
	}
}

.DisplayNone {
	display: none;
	opacity: 0;
}

.ProfileIsLight {
	.ProfileCard {
		border: 1px solid #000000;
		color: white;
		background-color: rgba(0, 0, 0, 0.6);

		.ProfileCardLeft {
			.ProfileCardLeftFlex {
				.ProfileImage {
					img {
						border: 1px solid #000000;
					}
				}

				.ProfileSocial {
					a {
						svg {
							fill: #bfbfbf;

							&.GithubIcon {
								&:hover,
								&:active {
									fill: #6e5494;
								}
							}

							&.LinkedinIcon {
								&:hover,
								&:active {
									fill: #0e76a8;
								}
							}

							&.InstagramIcon {
								&:hover,
								&:active {
									fill: #cd486b;
								}
							}

							&.FacebookIcon {
								&:hover,
								&:active {
									fill: #3b5998;
								}
							}

							&.TwitterIcon {
								&:hover,
								&:active {
									fill: #00acee;
								}
							}
						}
					}
				}
			}
		}

		.centerThisPart {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin-top: 10px;

			.ProfileCardLeftHRLine {
				width: 95%;
				border-top: 1px solid #000000;
			}
		}
	}
}

.ProfileIsDark {
	.ProfileCard {
		border: 1px solid #bfbfbf;
		color: black;
		background-color: rgba(255, 255, 255, 0.5);

		.ProfileCardLeft {
			.ProfileCardLeftFlex {
				.ProfileImage {
					img {
						border: 1px solid #bfbfbf;
					}
				}
			}
		}

		.centerThisPart {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin-top: 10px;

			.ProfileCardLeftHRLine {
				width: 95%;
				border-top: 1px solid #bfbfbf;
			}
		}
	}
}

@media (max-width: 1700px) {
	.FullProfile {
		.ProfileCard {
			width: 75%;
		}
	}
}

@media (max-width: 1450px) {
	.FullProfile {
		.ProfileCard {
			width: 80%;
		}
	}
}

@media (max-width: 1200px) {
	.FullProfile {
		.ProfileCard {
			width: 90%;
		}
	}
}

@media (min-width: 1000px) {
	.FullProfile.ProfileIsDark {
		.ProfileCard {
			.ProfileCardRight {
				border-left: 1px solid #bfbfbf;
			}
		}
	}

	.FullProfile.ProfileIsLight {
		.ProfileCard {
			.ProfileCardRight {
				border-left: 1px solid #202020;
			}
		}
	}
}

@media (max-width: 1000px) {
	.FullProfile {
		.ProfileCard {
			width: 100%;
			margin-top: 0;
		}
	}
}

@media (max-width: 800px) {
	.FullProfile {
		.ProfileCard {
			width: 100%;
			margin-top: 0;
			margin-bottom: 0;

			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			.ProfileCardLeft {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				// text-align: center;

				.ProfileCardLeftFlex {
					h2 {
						text-align: center;
					}

					p {
						text-align: center;
					}
				}
			}

			.ProfileCardRight {
				width: 100%;
			}
		}
	}
}

@keyframes blurtonormal {
	0% {
		filter: blur(100px) grayscale(100%);
	}
	100% {
		filter: blur(0) grayscale(0);
	}
}

//
// STANDARD
// PROFILE
// DESIGN
// GOES
// HERE
//

.MainStandardProfileStart {
	font-family: "Inter", sans-serif;
	width: 100%;
	min-height: 100vh;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;

	.StandardProfileArea {
		width: 1150px;
		background-color: transparent;
		border-radius: 5px;
		margin: 55px auto;
		display: flex;
		flex-direction: row; //default
		justify-content: space-between;

		.LeftOrTopPart {
			width: 33%;
			height: max-content;
			background-color: #ffffff;
			border-radius: 6px;
			border: 1px solid #dadada;

			.GeneralCard {
				display: flex;
				flex-direction: column;
				// padding: 5px;

				.ProfileImageContainer {
					max-height: 150px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 20px 0;

					img {
						width: 135px;
						height: 135px;
						border: 1px solid $primary;
						border-radius: 50%;
					}
				}

				.TextSection {
					text-align: center;
					margin: 5px 0;

					p {
						font-size: 17px;

						&.FullName {
							font-size: 20px;
						}
					}
				}

				.FollowStarts {
					width: 100%;
					display: flex;
					margin-top: 10px;
					padding-top: 5px;
					padding-bottom: 5px;

					.FollowersDiv,
					.FollowingsDiv {
						padding: 10px;
						display: flex;
						flex-grow: 4;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						// border-bottom: 1px solid #d5d5d5;
						border-top: 1px solid #b9b9b9;

						h3,
						p {
							padding: 5px;
							// margin: 2px 0;
						}
					}

					.FollowersDiv {
						border-right: 1px solid #b9b9b9;
					}
				}

				.JoinedONDiv {
					padding-top: 13px;
					padding-bottom: 13px;
					display: flex;
					flex-grow: 4;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					border-bottom: 1px solid #b9b9b9;
					border-top: 1px solid #b9b9b9;

					h3,
					p {
						padding: 5px;
						margin: 2px 0;
					}
				}

				.Status {
					padding-top: 13px;
					padding-bottom: 13px;
					border-bottom: 1px solid #b9b9b9;

					h4 {
						text-align: center;
						text-transform: uppercase;
						font-size: 17px;
						padding: 5px;
						margin: 2px 0;
					}

					p {
						text-align: center;
						padding: 5px;
						margin: 0 8px;
					}
				}

				.SocialButtons {
					margin: 10px 0;
					padding: 5px 0;
					display: flex;
					flex-wrap: wrap;
					// flex-direction: column;
					justify-content: center;
					align-items: center;

					a {
						transition: all 0.5s;
						display: block;
						width: 150px;
						text-align: center;
						padding: 8px 11px;
						margin: 6px 5px;
						border-radius: 5px;

						&.MailBTN {
							// transition: all 0.2s;
							color: black;

							background: linear-gradient(
								124deg,
								#ff2400,
								#e81d1d,
								#e8b71d,
								#e3e81d,
								#1de840,
								#1ddde8,
								#2b1de8,
								#dd00f3,
								#dd00f3
							);
							background-size: 1800% 1800%;

							-webkit-animation: rainbow 10s ease infinite;
							-z-animation: rainbow 10s ease infinite;
							-o-animation: rainbow 10s ease infinite;
							animation: rainbow 10s ease infinite;

							&:hover {
								background-color: transparent;
								color: black;
							}
						}

						&.GithubBTN {
							background-color: #202022;
							border: 1px solid #202022;
							// background-color: #6e5494;
							// border: 1px solid #6e5494;
							color: white;
						}

						&.DribbleBTN {
							background-color: #ea4c89;
							border: 1px solid #ea4c89;
							color: white;
						}

						&.LinkedinBTN {
							background-color: #0e76a8;
							border: 1px solid #0e76a8;
							color: white;
						}

						&.InstaBTN {
							background-color: #bc2a8d;
							border: 1px solid #8a3ab9;
							color: white;
						}

						&.FacebookBTN {
							background-color: #3b5998;
							border: 1px solid #3b5998;
							color: white;
						}

						&.TwitterBTN {
							background-color: #00acee;
							border: 1px solid #00acee;
							color: white;
						}

						&:hover {
							background-color: transparent;
							color: black;
						}
					}
				}
			}
		}

		.RightOrBottomPart {
			width: 60%;
			height: max-content;
			border-radius: 6px;
			border: 1px solid #dadada;
			background-color: #ffffff;
			padding: 5px;

			.AboutSectionCard {
				display: flex;
				flex-direction: column;

				.AboutText {
					display: flex;
					flex-direction: column;
					border-bottom: 1px solid #b9b9b9;

					h4 {
						font-size: 18px;
						text-transform: uppercase;
						padding: 5px 6px;
						text-align: center;
					}

					p {
						padding: 5px 15px;
						// margin-bottom: 10px;
						text-align: start;

						&:first-child {
							margin-top: 10px;
						}

						&:last-child {
							margin-bottom: 10px;
						}
					}
				}

				.EducationText {
					.ProfileEducationSection {
						margin: 0 5px;
						margin-bottom: 10px;
						padding-bottom: 10px;
						display: flex;
						flex-direction: column;
						border-bottom: 1px solid #b9b9b9;

						h4 {
							margin-top: 12px;
							font-size: 18px;
							text-transform: uppercase;
							padding: 5px 6px;
							text-align: center;
						}

						span {
							text-align: center;
						}

						.ProfileEducationCard {
							padding: 6px 10px;
							margin: 5px 0;
							border-radius: 5px;
							border: 1px solid #cfcfcf;
							box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1),
								0px 0px 1px rgba(0, 0, 0, 0.1),
								0px 0px 1px 0 rgba(0, 0, 0, 0.1);

							h5 {
								font-size: 16px;
							}

							span {
								font-size: 16px;
							}
						}
					}

					.ProfileCardRightExpertise {
						padding: 10px;
						margin-top: 10px;
						margin-bottom: 10px;

						h4 {
							font-size: 18px;
							text-transform: uppercase;
							padding: 5px 6px;
							text-align: center;
						}

						.ExpertiseContainer {
							display: flex;
							flex-wrap: wrap;

							.ProfileCardRightExpertiseSpan {
								width: max-content;
								background-color: $primaryOnActiveBack;
								color: white;
								padding: 6px 12px;
								border-radius: 4px;
								text-align: center;
								margin: 3px 7px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	.MainStandardProfileStart {
		.StandardProfileArea {
			width: 1000px;
			border-radius: 0;

			.LeftOrTopPart {
				width: 350px;
			}

			.RightOrBottomPart {
				width: 640px;
			}
			// flex-direction: column;
		}
	}
}

@media (max-width: 1050px) {
	.MainStandardProfileStart {
		.StandardProfileArea {
			width: 90%;
			border-radius: 0;

			.LeftOrTopPart {
				width: 40%;
			}

			.RightOrBottomPart {
				width: 60%;
			}
		}
	}
}

@media (max-width: 800px) {
	.MainStandardProfileStart {
		.StandardProfileArea {
			margin-top: 0;
			margin-bottom: 0;
			width: 98%;
			border-radius: 0;

			.RightOrBottomPart {
				.AboutSectionCard {
					.EducationText {
						.ProfileCardRightExpertise {
							.ExpertiseContainer {
								.ProfileCardRightExpertiseSpan {
									margin: 2px 4px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 650px) {
	.MainStandardProfileStart {
		.StandardProfileArea {
			width: 100%;
			flex-direction: column;

			.LeftOrTopPart,
			.RightOrBottomPart {
				border-radius: 0;
				width: 100%;
				border: none;
			}

			.LeftOrTopPart {
				border-bottom: 1px solid #b0b0b0;
			}
		}
	}
}

@-webkit-keyframes rainbow {
	0% {
		background-position: 0% 82%;
	}
	50% {
		background-position: 100% 19%;
	}
	100% {
		background-position: 0% 82%;
	}
}
@-moz-keyframes rainbow {
	0% {
		background-position: 0% 82%;
	}
	50% {
		background-position: 100% 19%;
	}
	100% {
		background-position: 0% 82%;
	}
}
@-o-keyframes rainbow {
	0% {
		background-position: 0% 82%;
	}
	50% {
		background-position: 100% 19%;
	}
	100% {
		background-position: 0% 82%;
	}
}
@keyframes rainbow {
	0% {
		background-position: 0% 82%;
	}
	50% {
		background-position: 100% 19%;
	}
	100% {
		background-position: 0% 82%;
	}
}

// #ff0000,
// #ff4000,
// #ff8000,
// #ffbf00,
// #ffff00,
// #bfff00,
// #80ff00,
// #40ff00,
// #00ff00,
// #00ff40,
// #00ff80,
// #00ffbf,
// #00ffff,
// #00bfff,
// #0080ff,
// #0040ff,
// #0000ff,
// #4000ff,
// #8000ff,
// #bf00ff,
// #ff00ff,
// #ff00bf,
// #ff0080,
// #ff0040

// @keyframes mailButtonAnim {
// 	0% {
// 		background: linear-gradient(to right, #ff0040, #ff0000);
// 		border: 1px solid #ff0000;
// 		// color: white;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	4% {
// 		background: linear-gradient(to right, #ff0000, #ff4000);
// 		// background-color: #ff4000;
// 		border: 1px solid #ff4000;
// 		// color: white;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	8% {
// 		background: linear-gradient(to right, #ff4000, #ff8000);
// 		// background-color: #ff8000;
// 		border: 1px solid #ff8000;
// 		// color: white;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	12% {
// 		background: linear-gradient(to right, #ff8000, #ffbf00);
// 		// background-color: #ffbf00;
// 		border: 1px solid #ffbf00;
// 		// color: black;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	17% {
// 		background: linear-gradient(to right, #ffbf00, #ffff00);
// 		// background-color: #ffff00;
// 		border: 1px solid #ffff00;
// 		// color: black;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	21% {
// 		background: linear-gradient(to right, #ffff00, #bfff00);
// 		// background-color: #bfff00;
// 		border: 1px solid #bfff00;
// 		// color: black;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	25% {
// 		background: linear-gradient(to right, #bfff00, #80ff00);
// 		// background-color: #80ff00;
// 		border: 1px solid #80ff00;
// 		// color: black;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	29% {
// 		background: linear-gradient(to right, #80ff00, #40ff00);
// 		// background-color: #40ff00;
// 		border: 1px solid #40ff00;
// 		// color: black;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	33% {
// 		background: linear-gradient(to right, #40ff00, #00ff00);
// 		// background-color: #00ff00;
// 		border: 1px solid #00ff00;
// 		// color: black;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	37% {
// 		background: linear-gradient(to right, #00ff00, #00ff40);
// 		// background-color: #00ff40;
// 		border: 1px solid #00ff40;
// 		// color: black;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	41% {
// 		background: linear-gradient(to right, #00ff40, #00ff80);
// 		// background-color: #00ff80;
// 		border: 1px solid #00ff80;
// 		// color: black;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	45% {
// 		background: linear-gradient(to right, #00ff80, #00ffbf);
// 		// background-color: #00ffbf;
// 		border: 1px solid #00ffbf;
// 		// color: black;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	49% {
// 		background: linear-gradient(to right, #00ffbf, #00ffff);
// 		// background-color: #00ffff;
// 		border: 1px solid #00ffff;
// 		// color: black;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	53% {
// 		background: linear-gradient(to right, #00ffff, #00bfff);
// 		// background-color: #00bfff;
// 		border: 1px solid #00bfff;
// 		// color: black;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	57% {
// 		background: linear-gradient(to right, #00bfff, #0080ff);
// 		// background-color: #0080ff;
// 		border: 1px solid #0080ff;
// 		// color: white;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	61% {
// 		background: linear-gradient(to right, #0080ff, #0040ff);
// 		// background-color: #0040ff;
// 		border: 1px solid #0040ff;
// 		// color: white;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	65% {
// 		background: linear-gradient(to right, #0040ff, #0000ff);
// 		// background-color: #0000ff;
// 		border: 1px solid #0000ff;
// 		// color: white;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	69% {
// 		background: linear-gradient(to right, #0000ff, #4000ff);
// 		// background-color: #4000ff;
// 		border: 1px solid #4000ff;
// 		// color: white;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	75% {
// 		background: linear-gradient(to right, #4000ff, #8000ff);
// 		// background-color: #8000ff;
// 		border: 1px solid #8000ff;
// 		// color: white;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	80% {
// 		background: linear-gradient(to right, #8000ff, #bf00ff);
// 		// background-color: #bf00ff;
// 		border: 1px solid #bf00ff;
// 		// color: white;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	85% {
// 		background: linear-gradient(to right, #bf00ff, #ff00ff);
// 		// background-color: #ff00ff;
// 		border: 1px solid #ff00ff;
// 		// color: white;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	90% {
// 		background: linear-gradient(to right, #ff00ff, #ff00bf);
// 		// background-color: #ff00bf;
// 		border: 1px solid #ff00bf;
// 		// color: white;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}

// 	95% {
// 		background: linear-gradient(to right, #ff00bf, #ff0080);
// 		// background-color: #ff0080;
// 		border: 1px solid #ff0080;
// 		// color: white;
// 		color: black;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// 	100% {
// 		background: linear-gradient(to right, #ff0080, #ff0040);
// 		// background-color: #ff0040;
// 		border: 1px solid #ff0040;
// 		color: black;
// 		// color: white;
// 		&:hover {
// 			background-color: transparent;
// 			color: black;
// 		}
// 	}
// }

// a.MailBTN:hover {
// 	background-color: transparent;
// 	color: black;
// }

//
// GLOBAL ERROR SECTION
// STARTS FROM
// HERE
//
// HERE
//

.ErrorSectionStart {
	width: 100%;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.TelebyteLogoInError {
		display: flex;
		justify-content: center;

		svg {
			width: 80%;
		}
	}

	img {
		width: 500px;
		height: auto;
	}

	.ErrorSectionDetails {
		margin-top: 20px;
		text-align: center;

		h2 {
			padding: 10px;
		}
		p {
			font-size: 16px;
			padding: 10px;

			span {
				font-weight: 700;
				font-size: 20px;
				color: $orange;
			}
		}
	}
}

@media (max-width: 700px) {
	.ErrorSectionStart img {
		width: 400px;
	}
}

@media (max-width: 550px) {
	.ErrorSectionStart img {
		width: 300px;
	}
}

@media (max-width: 360px) {
	.ErrorSectionStart img {
		width: 200px;
	}
}

//
// 	SETTINGS SECTION
// STARTS FROM
// HERE
//

.SettingSectionStart {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-family: "Inter", sans-serif;

	.SettingArea {
		font-family: "Inter", sans-serif;
		width: 1000px;
		margin-top: 30px;
		margin-bottom: 30px;
		background-color: #ffffff;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;

		.SettingNavigation {
			width: 20%;
			border-radius: 5px;
			// border: 1px solid black;

			h4 {
				color: #353535;
				transition: all 0s;
				padding: 8px 15px;
				font-size: 16px;

				border-bottom: 1px solid #bbbbbb;
				border-left: 1px solid #bbbbbb;
				border-right: 1px solid #bbbbbb;

				a {
					display: block;
					padding: 4px;
					transition: all 0s;
					color: inherit;

					&:hover,
					&:active {
						color: inherit;
					}
				}

				&:first-child {
					border-radius: 5px 5px 0 0;
					border-top: 1px solid #bbbbbb;
					border-right: 1px solid #bbbbbb;
					border-bottom: 1px solid #bbbbbb;
					border-left: 1px solid #bbbbbb;
				}

				&:last-child {
					border-radius: 0 0 5px 5px;
					border-top: none;
					border-right: 1px solid #aaaaaa;
					border-bottom: 1px solid #aaaaaa;
					border-left: 1px solid #aaaaaa;
				}

				&:hover,
				&:active {
					color: black;
				}
			}
		}

		.SettingMainWorkingArea {
			width: 70%;
			font-family: "Inter", sans-serif;

			.SettingCard {
				font-family: "Inter", sans-serif;
				width: 100%;
				margin: 25px 0;
				border-radius: 5px;
				border: 1px solid #cfcfcf;

				.CardTop {
					padding: 15px;
					color: black;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;

					h4 {
						font-size: 16px;
						margin-bottom: 3px;
					}

					p {
						margin-bottom: 5px;
						font-size: 15px;
					}

					img {
						border: 2px solid #dfdfdf;
						border-radius: 50%;
						margin-top: 5px;
						transition: opacity 0.5s linear;
						height: 150px;
						width: auto;
					}

					input {
						transition: all 0.5s;
						width: 280px;
						margin-top: 5px;
						margin-bottom: 5px;
						padding: 8px 10px;

						appearance: none;
						border-radius: 3px;
						border: 1px solid #cfcfcf;

						font-size: 15px;

						&:hover,
						&:active,
						&:focus {
							// border: 1px solid #202020;
							border: 1px solid $primary;
						}

						&.Disabled:hover,
						&.Disabled:active,
						&.Disabled:focus {
							border: 1px solid red;
						}
					}

					input.Checkbox {
						cursor: pointer;
						width: 20px;
						height: 20px;
						padding: 0;
						margin: 10px;
						appearance: checkbox;
					}

					textarea {
						resize: none;
						max-width: 50%;
						max-height: 200px;
						width: 50%;
						height: 200px;
						transition: all 0.5s;
						margin-top: 5px;
						margin-bottom: 5px;
						padding: 8px 10px;

						appearance: none;
						border-radius: 3px;
						border: 1px solid #cfcfcf;

						font-size: 14px;

						&[disabled="true"]:hover {
							border: 1px solid red;
						}

						&:hover,
						&:active,
						&:focus {
							// border: 1px solid #202020;
							border: 1px solid $primary;
						}

						&.ShortHeightTextarea {
							max-height: 75px;
							height: 75px;
						}
					}

					input[name="color"] {
						cursor: pointer;
						padding: 0;
						border: 2px solid transparent;
						border-radius: 50%;
						height: 100px;
						width: 100px;

						&:hover,
						&:active,
						&:focus {
							border: 2px solid #202020;
						}
					}

					input[type="color"]::-webkit-color-swatch {
						border: none;
						border-radius: 50%;
						padding: 0;
					}

					input[type="color"]::-webkit-color-swatch-wrapper {
						border: none;
						border-radius: 50%;
						padding: 0;
					}

					.InputArea {
						display: flex;
						flex-direction: column;

						span {
							margin: 5px;
							text-decoration: underline;
						}
					}
				}

				.RandomButton {
					padding: 10px 12px;
					display: flex;
					justify-content: flex-start;
				}

				.CardBottom {
					font-size: 15px;
					padding: 8px 5px;
					color: #444444;
					background-color: #f6f6f6;
					border-radius: 0 0 5px 5px;
					border-top: 1px solid #cfcfcf;

					span {
						display: block;
						padding: 6px 10px;
					}
				}

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}

				.ProfileEducationSection {
					margin-top: -15px;
					// margin-bottom: 4px;
					padding: 10px;

					.ProfileEducationCard {
						border: 1px solid #cfcfcf;
						padding: 5px 5px 5px 10px;
						margin: 5px 0px;
						border-radius: 5px;
						box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1),
							0px 0px 1px rgba(0, 0, 0, 0.1),
							0px 0px 1px 0 rgba(0, 0, 0, 0.1);

						display: flex;
						justify-content: space-between;

						h4 {
							font-size: 14px;

							&:nth-child(1) {
								padding: 10px 5px 0px 6px;
							}

							&:nth-child(2) {
								padding: 5px 5px 8px 6px;
							}
						}

						span {
							font-size: 13px;
							padding: 5px 0px 10px 6px;
						}

						.CardEduRight {
							width: 16px;
						}
					}
				}
			}
		}
	}

	.SettingSubmitSection {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 40px;

		button {
			cursor: pointer;
			border: 1px solid $primary;
			border-radius: 4px;
			background-color: $primary;
			color: white;

			padding: 9px 20px;
			min-width: 100px;
			height: 36px;
			font-size: 15px;
			white-space: nowrap;
			font-weight: 500;
			appearance: none;

			&:hover,
			&:active {
				color: $primary;
				background-color: transparent;
			}
		}
	}
}

.LightDarkButton {
	cursor: pointer;
	border: 1px solid $primary;
	border-radius: 4px;
	background-color: $primary;
	color: white;

	padding: 9px;
	min-width: 100px;
	height: 36px;
	font-size: 15px;
	white-space: nowrap;
	font-weight: 500;
	appearance: none;

	margin-left: 10px;
	margin-right: 10px;

	&.topbottom {
		margin-top: 15px;
		margin-bottom: 10px;
	}

	&.DangerButton {
		// background-color: #ff4040;

		&:hover,
		&:active {
			color: #ffffff;
			border: 1px solid #ff4040;
			background-color: #ef4040;
		}
	}

	&:hover,
	&:active {
		color: $primary;
		background-color: transparent;
	}
}

@media (max-width: 1100px) {
	.SettingSectionStart {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.SettingArea {
			// width: 600px;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.SettingNavigation {
				display: none;
			}
		}
	}
}

@media (max-width: 800px) {
	.SettingSectionStart {
		.SettingArea {
			width: 90%;

			.SettingMainWorkingArea {
				width: 100%;
			}
		}
	}
}

@media (max-width: 500px) {
	.SettingSectionStart {
		.SettingArea {
			width: 97%;

			.SettingMainWorkingArea {
				width: 100%;

				.SettingCard {
					.RandomButton {
						padding: 10px 12px;
						display: flex;
						flex-direction: column;
						justify-content: flex-start;

						button {
							max-width: 100px;
							margin: 5px 10px;
						}
					}
				}
			}
		}
	}
}

//
// ABOUT
// SECTION STARTS
// FROM
// HERE ON
// ...
//

.AboutSectionStart {
	min-width: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Inter", sans-serif;

	.MainAboutSection {
		margin-top: 30px;
		width: 1100px;
		border-radius: 6px 6px 0 0;

		.MainKeymapSection {
			width: 100%;

			.DisplaySection {
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-color: #f6f6f6;
				border-radius: 6px 6px 0 0;
				padding: 6px 8px;
				border-bottom: 1px solid #cfcfcf;
			}

			.MainKeymaps {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;

				.Keymap {
					padding: 12px 10px;
					width: 100%;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					// border-top: 1px solid #cfcfcf;
					border-bottom: 1px solid #cfcfcf;

					&.Shaded {
						background-color: #f6f6f6;
					}
				}
			}
		}
	}
}
