/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Karla */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
/* Yeseva One */
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: black;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	outline: 0;
}

*::-moz-selection {
	background-color: lightblue;
	color: black;
	outline: 0;
}

*::selection {
	background-color: lightblue;
	color: black;
	outline: 0;
}

*:hover,
*:active,
*:focus {
	color: black;
}

ul {
	list-style-type: none;
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-size: 16px;
	/* i know this is default value of font-size just for remebering purpose */
	font-family: "Karla", sans-serif;
	// background-color: #f0f2f5;
}

.kol {
	width: 100%;
	height: 100%;
	background-color: coral;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lok {
	width: 50%;
	height: 50%;
	background-color: cadetblue;
}
